@import 'base/_variables';
@import 'base/_helpers';

.container {
	max-width: 1460px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}
.social-networks {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	padding-right: 10px;
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
	li {
		float: left;
		margin: 0 4px 5px 2px;
		width: 50px;
		height: 26px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		overflow: hidden;
		text-indent: -9999px;
		a {
			display: block;
			height: 100%;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				background: $url_0 no-repeat -9999px -9999px;
			}
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
			&.facebook {
				background: $color_chambray_approx;
				&:before {
					width: 7px;
					height: 14px;
					margin-top: -7px;
					margin-left: -3px;
					background-position: -5px -31px;
				}
			}
			&.twitter {
				background: $color_cerulean_approx;
				&:before {
					width: 14px;
					height: 11px;
					margin-top: -6px;
					margin-left: -7px;
					background-position: -26px -64px;
				}
			}
			&.linkedin {
				background: $color_allports_approx;
				&:before {
					width: 12px;
					height: 12px;
					margin-top: -6px;
					margin-left: -6px;
					background-position: -87px -145px;
				}
			}
			&.pinterest {
				background: $color_cardinal_approx;
				&:before {
					width: 14px;
					height: 18px;
					margin-top: -9px;
					margin-left: -7px;
					background-position: -261px -64px;
				}
			}
			&.gplus {
				background: $color_punch_approx;
				&:before {
					width: 17px;
					height: 18px;
					margin-top: -9px;
					margin-left: -8px;
					background-position: -167px -85px;
				}
			}
			&.instagram {
				background: $color_kabul_approx;
				&:before {
					width: 18px;
					height: 18px;
					margin-top: -9px;
					margin-left: -9px;
					background-position: -194px -85px;
				}
			}
			&.youtube {
				background: $color_torch_red_approx;
				&:before {
					width: 16px;
					height: 17px;
					margin-top: -8px;
					margin-left: -8px;
					background-position: -149px -165px;
				}
			}
			&.tumblr {
				background: $color_blue_bayoux_approx;
				&:before {
					width: 10px;
					height: 16px;
					margin-top: -8px;
					margin-left: -5px;
					background-position: -237px -143px;
				}
			}
		}
	}
	&.share li {
		width: 99px;
		height: 39px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		margin: 0 5px 5px 0;
		a {
			&:before {
				left: 10px;
				margin-left: 0;
			}
			&.facebook {
				background: $color_azure_approx;
				&:before {
					margin-top: -14px;
					width: 13px;
					height: 27px;
					background-position: -106px -85px;
				}
			}
			&.twitter {
				background: $color_glacier_approx;
				&:before {
					width: 31px;
					height: 28px;
					margin-top: -14px;
					background-position: -257px -143px;
				}
			}
			&.email {
				background: $color_storm_dust_approx;
				&:before {
					width: 30px;
					height: 21px;
					margin-top: -12px;
					background-position: -109px -145px;
				}
			}
			&.pinterest {
				background: $color_monza_approx;
				&:before {
					width: 29px;
					height: 29px;
					margin-top: -15px;
					background-position: -222px -64px;
				}
			}
			&.gplus {
				background: $color_persian_red_approx;
				&:before {
					width: 28px;
					height: 25px;
					margin-top: -13px;
					background-position: -129px -85px;
				}
			}
			&.instagram {
				background: $color_kabul_approx;
				&:before {
					width: 28px;
					height: 28px;
					margin-top: -14px;
					background-position: -49px -145px;
				}
			}
			&.bookmark {
				background: $color_affair_approx;
				&:before {
					width: 20px;
					height: 25px;
					margin-top: -13px;
					background-position: -50px -5px;
				}
			}
		}
	}
}
.row {
	margin-left: -10px;
	margin-right: -10px;
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}
#nav {
	overflow: hidden;
	padding: 17px 23px 50px 5px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
	}
	.opener {
		float: right;
		width: 40px;
		height: 40px;
		background: $black;
		background: $black_50;
		position: relative;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		display: none;
		z-index: 9;
		&:before {
			@extend %extend_1;
			content: "";
			top: 30%;
		}
		&:after {
			@extend %extend_1;
			content: "";
			top: 30%;
			top: 70%;
		}
		span {
			@extend %extend_1;
		}
		&:hover {
			opacity: 9;
			filter: alpha(opacity=900);
			zoom: 1;
		}
	}
	&.active {
		.opener {
			span {
				opacity: 0;
				filter: alpha(opacity=0);
				zoom: 1;
			}
			&:after {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(45deg);
				top: 50%;
				left: 15%;
				right: 15%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(-45deg);
			}
			&:before {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(45deg);
				top: 50%;
				left: 15%;
				right: 15%;
			}
		}
		ul {
			max-height: 300px;
			padding: 10px 0 0;
		}
	}
	li {
		color: $color_bright_turquoise_approx;
		float: left;
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		text-transform: uppercase;
		&:before {
			content: "//";
			padding: 0 12px;
			display: inline-block;
			vertical-align: middle;
			margin-top: auto;
		}
		a {
			color: $color_cape_cod_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
				text-decoration: none;
			}
		}
		&:first-child:before {
			display: none;
		}
	}
}
.article-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		overflow: hidden;
		margin-bottom: 29px;
		.image-holder {
			float: left;
			width: 27.3%;
			margin-right: 2%;
			img {
				width: 100%;
				border: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 1px;
				overflow: hidden;
			}
		}
		.details {
			overflow: hidden;
			padding: 1px 0;
		}
	}
	h2 {
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
		margin: 0 0 20px;
		a {
			color: $color_cape_cod_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
		}
	}
	.adbox {
		padding: 7px 0 9px;
		margin: 0;
		text-align: left;
	}
	&.recent {
		li {
			padding: 0 0 21px;
			margin-bottom: 20px;
			border-bottom: 1px solid $alto;
			.image-holder {
				width: 14.4%;
				margin-right: 1%;
			}
		}
		h2 {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 9px;
		}
	}
	strong {
		display: block;
		overflow: hidden;
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		a {
			color: $color_zeus_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
		}
	}
	&.num-list {
		counter-reset: item;
		li:before {
			float: left;
			margin: -1px 10px 0 0;
			content: counters(item, ".") ". ";
			counter-increment: item;
			color: $color_zeus_approx;
			font-weight: 300;
			font-size: 16px;
			line-height: 18px;
		}
	}
}

$tab_cutoff_width: 960px;
.pagination {
	float: right;
	overflow: hidden;
	border-bottom: 2px solid $color_robins_egg_blue_approx;
	height: 39px;

	@media only screen and (max-width: $tab_cutoff_width) {
		float: none;
		border-bottom: none;
		height: 28px;
		margin-top: 4px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	li {
		float: left;
		min-width: 40px;
		height: 36px;
		background: none;
		text-align: center;
		font-size: 16px;
		line-height: 26px;

		&:last-child {
			border-left: 1px solid $color_gray_nurse_approx;
		}

		&:first-child {
			border-left: none;
		}

		@media only screen and (max-width: $tab_cutoff_width) {
			height: 27px;
			margin-bottom: 3px;
		}

		a {
			display: block;
			height: 100%;
			color: $color_cape_cod_approx;
			font-weight: 700;
			padding: 5px 10px;
			text-decoration: none;

			@media only screen and (max-width: $tab_cutoff_width) {
				padding: 0 10px;
			}

			&.btn-next {
				position: relative;

				&:after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 0 6px 6px;
					border-color: transparent transparent transparent $color_cape_cod_approx;
				}
			}

			&.btn-prev {
				position: relative;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: auto;
					margin: 0 5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 6px 6px 0;
					border-color: transparent $color_cape_cod_approx transparent transparent;
				}
			}
			&:hover {
				color: $color_shady_lady_approx;
				&:after {
					border-left-color: $color_shady_lady_approx;
				}
				&:before {
					border-right-color: $color_shady_lady_approx;
				}
			}
		}
		strong {
			display: block;
			height: 100%;
			color: $color_cape_cod_approx;
			font-weight: 700;
			padding: 5px 10px;
			border-left: 1px solid $color_gray_nurse_approx;
			text-decoration: none;
			&.btn-next {
				position: relative;
				&:after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 0 6px 6px;
					border-color: transparent transparent transparent $color_cape_cod_approx;
				}
			}
			&.btn-prev {
				position: relative;
				&:before {
					content: "";
					display: inline-block;
					vertical-align: auto;
					margin: 0 5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 6px 6px 0;
					border-color: transparent $color_cape_cod_approx transparent transparent;
				}
			}
		}
		&:first-child {
			> a {
				border-left: none;
			}
			> strong {
				border-left: none;
			}
		}
		span {
			display: block;
			height: 100%;
			color: $color_cape_cod_approx;
			font-weight: 700;
			padding: 5px 10px;
		}
		&.active > strong {
			color: $color_shady_lady_approx;
			&:after {
				border-left-color: $color_shady_lady_approx;
			}
			&:before {
				border-right-color: $color_shady_lady_approx;
			}
		}
	}
}
.aside-nav {
	padding: 2px 6px 0;
	overflow: hidden;
	border-bottom: 1px solid $alto;
	max-width: 300px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0 0 15px;
		font-size: 26px;
		line-height: 30px;
		a {
			color: $color_zeus_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
		}
	}
}
.tabset {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 22px;
	li {
		float: left;
		border-left: 1px solid $color_silver_chalice_approx;
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		&:first-child {
			border-left: none;
		}
		a {
			color: $color_zeus_approx;
			display: block;
			padding: 31px 13px 0;
			text-decoration: none;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 3px;
				left: 50%;
				background: $url_0 no-repeat;
			}
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
				color: $color_cerulean_approx;
				&.hotel:before {
					background-position: -5px -145px;
				}
				&.flight:before {
					background-position: -261px -101px;
				}
				&.car:before {
					background-position: -69px -85px;
				}
			}
		}
		&.active {
			> a {
				color: $color_cerulean_approx;
			}
			.hotel:before {
				background-position: -5px -145px;
			}
			.flight:before {
				background-position: -261px -101px;
			}
			.car:before {
				background-position: -69px -85px;
			}
		}
		.hotel:before {
			width: 34px;
			height: 22px;
			margin-left: -17px;
			background-position: -167px -113px;
		}
		.flight:before {
			width: 30px;
			height: 27px;
			margin-left: -15px;
			background-position: -285px -64px;
		}
		.car:before {
			width: 27px;
			height: 22px;
			margin-left: -13px;
			background-position: -32px -85px;
		}
	}
}
.ratings {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	padding: 0 0 0 50px;
	li {
		font-size: 14px;
		line-height: 14px;
		display: inline-block;
		vertical-align: bottom;
		margin: 0 -3px 4px 2px;
		position: relative;
		text-align: center;
		color: $color_mine_shaft_approx;
		min-width: 52px;
		padding-bottom: 5px;
		border-bottom: 0 solid $color_sail_approx;
		&.rate-three {
			border-bottom-width: 9px;
		}
		&.rate-two {
			border-bottom-width: 6px;
		}
		&.rate-one {
			border-bottom-width: 3px;
		}
	}
}
.tags {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 3px;
	li {
		float: left;
		margin: 0 2px 4px;
		font-size: 13px;
		line-height: 16px;
		font-weight: 700;
		a {
			display: block;
			padding: 7px 6px;
			color: $black;
			background: $color_bright_turquoise_approx;
			text-align: center;
			min-width: 52px;
			&.btn-next {
				width: 30px;
				height: 30px;
				overflow: hidden;
				text-indent: -9999px;
				position: relative;
				background: $url_0 no-repeat 0 -176px;
				&:hover {
					opacity: .85;
					filter: alpha(opacity=85);
					zoom: 1;
				}
			}
		}
	}
}
.footer-nav {
	padding: 6px 0 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0 0 13px;
		font-size: 12px;
		line-height: 14px;
	}
}
.app-links {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 7px 8px 0;
		font-size: 12px;
		line-height: 14px;
		min-width: 80px;
		text-align: center;
	}
	a {
		display: block;
		padding: 6px 9px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		position: relative;
		color: $white;
		text-decoration: none;
		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			margin: -3px 6px 0 0;
			width: 14px;
			height: 17px;
			background: $url_0 no-repeat -9999px -9999px;
		}
		&:hover {
			opacity: .85;
			filter: alpha(opacity=85);
			zoom: 1;
		}
		&.android {
			background: $color_celery_approx;
			&:before {
				background-position: -5px -4px;
			}
		}
		&.apple {
			background: $color_dodger_blue_approx;
			&:before {
				background-position: -5px -113px;
			}
		}
	}
}
html {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
	input[type="button"] {
		cursor: pointer;
	}
}
* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: inherit;
	max-height: 1000000px;
	font-size: 100.01%;
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: inherit;
	}
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: inherit;
	}
}
body {
	margin: 0;
	color: $black;
	background: $color_wild_sand_approx;
	font: 2em/1.7 Helvetica, Arial, sans-serif;
	min-width: 320px;
	height: 100%;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
img {
	border-style: none;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
a {
	text-decoration: none;
	color: $color_pelorous_approx;
	&:hover {
		text-decoration: underline;
	}
}
input {
	font: 100% $font_0, $font_1, $font_2;
	color: $black;
	vertical-align: middle;
}
textarea {
	font: 100% $font_0, $font_1, $font_2;
	color: $black;
	vertical-align: middle;
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	overflow: auto;
	resize: vertical;
	vertical-align: top;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
select {
	font: 100% $font_0, $font_1, $font_2;
	color: $black;
	vertical-align: middle;
}
form {
	margin: 0;
	padding: 0;
	border-style: none;
}
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button {
	cursor: pointer;
	&:hover {
		cursor: pointer;
	}
}
input[type="reset"] {
	cursor: pointer;
}
input[type="submit"] {
	cursor: pointer;
	&:hover {
		cursor: pointer;
	}
}
input[type="text"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type="tel"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type="email"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type="url"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type="password"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type="search"] {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid $color_quill_gray_approx;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	&:focus {
		border-color: $color_suva_gray_approx;
	}
}
input[type=text] {
}
input[type=password] {
}
input[type=file] {
}
input[type=submit] {
}
input[type=search] {
}
input[type=email] {
}
input[type="checkbox"] {
	padding: 0;
}
input[type="radio"] {
	padding: 0;
}
input[type="search"]::-webkit-search-cancel-button {
}
input[type="search"]::-webkit-search-decoration {
}
h1 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
	font-size: 2.5em;
	line-height: 1.12em;
	margin: 0 0 6px;
	color: $black;
}
h2 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0 0 12px;
	color: $black;
	font-weight: 500;
}
h3 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0 0 12px;
	color: $black;
	font-weight: 500;
	padding-top: 25px;
	padding-bottom: 25px;
}
h4 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}
h5 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}
h6 {
	font-family: $font_0, $font_1, $font_2;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}
p {
	margin: 0 0 1.2em;
}
q {
	quotes: none;
	&:before {
		content: "";
		content: none;
	}
	&:after {
		content: "";
		content: none;
	}
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -.5em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}
.w1 {
	display: table-cell;
}
.ad-container {
	overflow: hidden;
	max-width: 10000px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	background: $color_cape_cod_approx;
}
.search-container {
	max-width: 750px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.top-adbox {
	padding: 30px 0 15px;
	max-width: 728px;
	margin: 0 auto;
}
.header-navbar {
	background: $white;
	padding: 32px 0 0;
	border-top: solid $color_cape_cod_approx thin;
}
.logo {
	float: left;
	height: auto;
	margin: 0 10px 4px 0;
	padding: 12px 0 10px;
}
.button {
	background-color: $color_cape_cod_approx;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: .5em;
	color: $white;
	padding: 15px 32px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	font: 18px $font_0, $font_1, $font_2;
	&:hover {
		opacity: 9;
		filter: alpha(opacity=900);
		zoom: 1;
		cursor: pointer;
	}
}
#main {
	padding: 50px 0 24px;
}
.share-block {
	padding: 1px 0 35px;
	overflow: hidden;
}
.inner {
	.share-block {
		padding-bottom: 24px;
		border-bottom: 1px solid $color_nobel_approx;
		margin-bottom: 16px;
	}
	#content {
		width: 66.1%;
		padding-top: 10px;
	}
	#sidebar {
		margin-right: 2.8%;
		width: 23.5%;
	}
}
.search-form {
	float: right;
	position: relative;
	left: 38%;
	bottom: 20px;
	width: 69%;
	border: 1px solid $color_pumice_approx;
	margin: 2px 1.6% 0;
	background: $white;
	input[type="text"] {
		@extend %extend_2;
	}
	input[type="search"] {
		@extend %extend_2;
	}
	.btn-search {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		border: none;
		outline: none;
		border-left: 1px solid $color_stack_approx;
		width: 50px;
		height: 39px;
		overflow: hidden;
		text-indent: -9999px;
		background: $white;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			margin: -8px 0 0 -8px;
			background: $url_0 no-repeat -211px -143px;
		}
		&:hover {
			opacity: .85;
			filter: alpha(opacity=85);
			zoom: 1;
		}
	}
	::-webkit-input-placeholder {
		color: $black;
	}
	::-moz-placeholder {
		opacity: 1;
		color: $black;
	}
	:-moz-placeholder {
		color: $black;
	}
	:-ms-input-placeholder {
		color: $black;
	}
	.placeholder {
		color: $black;
	}
}
#two-columns {
	overflow: hidden;
}
#content {
	float: left;
	width: 73.6%;
}
.featured-section {
	margin: 0 0 25px;
	.header {
		overflow: hidden;
		border-bottom: 2px solid $color_cape_cod_approx;
		margin-bottom: 20px;
		.title {
			font-size: 22px;
			line-height: 24px;
			color: $white;
			font-weight: 500;
			display: inline-block;
			vertical-align: top;
			padding: 7px 5px 5px;
			min-width: 220px;
			text-align: center;
			background: $color_cape_cod_approx;
		}
	}
	.article-holder {
		overflow: hidden;
	}
	.featured-article {
		float: left;
		width: 46%;
		padding-bottom: 20px;
		.image-holder {
			margin-bottom: 10px;
			border: 1px solid $color_dove_gray_approx;
			img {
				width: 100%;
			}
		}
	}
	h1 {
		font-size: 28px;
		line-height: 38px;
		font-weight: 500;
		margin: 0 0 15px;
		a {
			color: $color_zeus_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
		}
	}
	.article-list {
		float: right;
		width: 52.5%;
	}
}

.recent-articles {
	margin: 0 0 20px;
	.header {
		overflow: hidden;
		border-bottom: 2px solid $color_robins_egg_blue_approx;
		margin-bottom: 20px;
		.title {
			font-size: 17px;
			line-height: 20px;
			color: $white;
			font-weight: 400;
			display: inline-block;
			vertical-align: top;
			padding: 5px 5px 4px;
			min-width: 220px;
			text-align: center;
			background: $color_robins_egg_blue_approx;
			margin-top: 7px;
			max-width: 50%;
		}
	}
	.recent-footer {
		overflow: hidden;
		padding: 4px 0;

		.pagination {
			border-bottom: none;
		}
	}
}

.meta {
	color: $color_suva_gray_approx;
	font-size: 15px;
	line-height: 18px;
	overflow: hidden;
	.author {
		color: $color_bali_hai_approx;
		a {
			color: $color_bali_hai_approx;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#sidebar {
	float: right;
	width: 22.4%;
	padding: 8px;
	.article-list {
		margin-bottom: 20px;
		li {
			padding: 13px 0 7px;
			margin: 0;
			border-top: 1px solid $color_iron_approx;
			.image-holder {
				width: 20%;
				margin-right: 3%;
			}
			&:first-child {
				padding-top: 0;
				border-top: none;
			}
		}
	}
}
.widget {
	margin-bottom: 22px;
	margin-top: 40px;
	overflow: hidden;
	.title {
		display: block;
		color: $white;
		font-weight: 400;
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 18px;
		border-bottom: 1px solid $alto;
		max-width: 300px;
		span {
			display: inline-block;
			vertical-align: top;
			padding: 5px 5px 3px;
			min-width: 56.7%;
			text-align: center;
			background: $color_abbey_approx;
		}
	}
}
.tab-holder {
	overflow: hidden;
	margin-bottom: 19px;
}
.reservation-form {
	padding: 0 3px;
	.buttons {
		padding: 3px 0 0 7px;
		span {
			text-transform: uppercase;
			color: $color_tundora_approx;
			font-size: 11px;
			line-height: 16px;
			padding-top: 10px;
		}
	}
	::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	::-moz-placeholder {
		opacity: 1;
		color: $color_tapa_approx;
	}
	:-moz-placeholder {
		color: $color_tapa_approx;
	}
	:-ms-input-placeholder {
		color: $color_tapa_approx;
	}
	.placeholder {
		color: $color_tapa_approx;
	}
	.btn {
		margin-bottom: 8px;
	}
}
.form-control {
	border: 1px solid $color_pink_swan_approx;
	width: 135px;
	height: 21px;
	color: $color_tapa_approx;
	font-size: 12px;
	line-height: 18px;
	padding: 0 3px !important;
	margin: 0 7px 19px !important;
	float: left;
	position: relative;
	overflow: hidden;
	input[type="text"] {
		border: none;
		height: 100%;
		width: 100%;
		padding: 0 22px 0 0 !important;
		margin: 0;
		color: $color_tapa_approx;
	}
	.icon-calender {
		position: absolute;
		top: 1px;
		right: 3px;
		width: 17px;
		height: 16px;
		background: $url_0 no-repeat -5px -85px;
		overflow: hidden;
		text-indent: -9999px;
	}
}
.btn {
	font-size: 16px;
	line-height: 18px;
	padding: 15px 20px;
	display: inline-block;
	vertical-align: top;
	border: none;
	outline: none;
	color: $white;
	text-decoration: none;
	white-space: normal;
	&:hover {
		opacity: .85;
		filter: alpha(opacity=85);
		zoom: 1;
		text-decoration: none;
	}
}
.btn-green {
	background: $color_sushi_approx;
}
.btn-orange {
	background: $color_flame_pea_approx;
}
.btn-blue {
	background: $color_bondi_blue_approx;
}
.disp-ib {
	display: inline-block;
	vertical-align: middle;
}
.adbox {
	margin-bottom: 40px;
	margin-top: 40px;
}
.page-article {
	overflow: hidden;
	position: relative;
	padding: 0 0 12px;
	border-bottom: 1px solid $alto;
	.btn-pin {
		position: absolute;
		z-index: 99;
		top: 20px;
		right: 16px;
	}
	.meta {
		overflow: hidden;
		color: $color_regent_gray_approx;
		font-size: 14px;
		line-height: 16px;
		margin: 18px 0;
		.btn-print {
			width: 66px;
			height: 40px;
			float: right;
			margin-left: 4px;
			background: $color_cararra_approx;
		}
		.meta-info {
			overflow: hidden;
			background: $color_gallery_approx;
			min-height: 40px;
		}
		a {
			color: $color_curious_blue_approx;
			text-decoration: none;
			&:hover {
				opacity: .85;
				filter: alpha(opacity=85);
				zoom: 1;
			}
		}
		.author-info {
			display: block;
			overflow: hidden;
			padding: 8px 9px;
		}
		.author-avatar {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
		.share-info {
			text-align: right;
			float: right;
			width: 50%;
			background: $color_cararra_approx;
			padding: 8px 10px;
		}
		.share-num {
			display: inline-block;
			vertical-align: middle;
			color: $color_boston_blue_approx;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 22px;
			padding: 0 12px;
		}
		.social-networks {
			display: inline-block;
			vertical-align: middle;
			padding: 0;
			margin: 0 -2px;
			li {
				margin: 0 3px;
				width: 45px;
				height: 23px;
				text-indent: 9999px;
				margin-bottom: 0;
			}
		}
		.share-link {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			color: $color_eastern_blue_approx;
			font-size: 10px;
			line-height: 12px;
			margin-top: 3px;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				width: 11px;
				height: 11px;
				background: $url_0 no-repeat -5px -64px;
			}
			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-left: 7px;
				margin-bottom: 4px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 4px 0 4px;
				border-color: $color_eastern_blue_approx transparent transparent;
			}
		}
	}
	p {
		margin: 0 0 10px;
	}
	.tips {
		display: block;
		padding: 0 0 22px;
	}
	.video-holder {
		margin: 0 0 20px;
		img {
			width: 100%;
			height: auto;
		}
		.caption {
			display: block;
			padding: 8px 0 2px;
			color: $color_stack_approx;
		}
	}
	.blue-text {
		color: $color_cerulean_approx;
		display: block;
		margin-bottom: 5px;
	}
	.tweet-desc {
		margin: 0 0 30px;
		padding-right: 15px;
		img {
			border: 1px solid $color_black_25_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 4px 4px 5px $color_black_20_approx;
		}
	}
	.map-holder {
		margin: 19px 0 20px;
		border: 1px solid $color_dove_gray_approx;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.btn-print {
	position: relative;
	min-width: 32px;
	min-height: 32px;
	overflow: hidden;
	text-indent: -9999px;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 32px;
		height: 32px;
		margin: -16px 0 0 -16px;
		background: $url_0 no-repeat -301px -101px;
	}
	&:hover {
		opacity: .85;
		filter: alpha(opacity=85);
		zoom: 1;
	}
}
.btn-follow {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 58px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 58px;
		height: 20px;
		background: $url_0 no-repeat -175px -181px;
	}
	&:hover {
		opacity: .85;
		filter: alpha(opacity=85);
		zoom: 1;
	}
}

.btn-pin {
	display: inline-block;
	vertical-align: top;
	width: 108px;
	height: 49px;
	background: $url_0 no-repeat -226px -5px;
	overflow: hidden;
	text-indent: -9999px;
	&:hover {
		opacity: .85;
		filter: alpha(opacity=85);
		zoom: 1;
	}
}
.article-info {
	padding: 12px 0 3px;
}
.tag-holder {
	overflow: hidden;
	span {
		float: left;
		font-size: 13px;
		line-height: 16px;
		color: $black;
		text-transform: uppercase;
		font-weight: 700;
		margin: 8px 11px 5px 0;
	}
}
#footer {
	display: table-footer-group;
	overflow: hidden;
	background: $white;
	height: 1%;
	.row {
		padding-left: 11.8%;
		padding-right: 24.8%;
	}
	h3 {
		margin: 0 0 6px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 400;
		color: $color_gravel_approx;
	}
	.footer-bottom h3 {
		color: $color_storm_dust_approx;
		margin-bottom: 8px;
	}
}
.footer-top {
	padding: 22px 0 5px;
	border-bottom: 1px solid $color_quill_gray_approx;
}
.col {
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 0 1.5%;
}
.footer-bottom {
	padding: 20px 0 22px;
}
.suscribe-form {
	.form-control {
		margin: 0 !important;
		width: 59%;
		height: 37px;
		padding: 4px 5px !important;
	}
	.btn {
		width: 36.8%;
		margin: 1px 0 0 3px;
		padding: 8px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
	}
}
.link-text {
	display: block;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	margin: -2px 0 0;
	a {
		color: $color_orient_approx;
		text-decoration: none;
		&:hover {
			opacity: .85;
			filter: alpha(opacity=85);
			zoom: 1;
		}
	}
}
@media only screen and(max-width: 1440px) {
	#footer .row {
		padding-left: 8%;
		padding-right: 8%;
	}
}
@media only screen and(max-width: 1400px) {
	#sidebar {
		float: left;
	}
	.header-navbar {
		padding: 20px 0;
	}
	.logo {
		width: 320px;
	}
	.btn {
		padding: 12px 14px;
		font-size: 14px;
		line-height: 16px;
	}
	#nav li {
		font-size: 20px;
		line-height: 22px;
	}
	.reservation-form .buttons span {
		padding-top: 6px;
	}
	#footer .row {
		padding-left: 6%;
		padding-right: 6%;
	}
}
@media only screen and(max-width: 1200px) {
	.header-navbar {
		padding: 18px 0;
	}
	.logo {
		width: 300px;
	}
	#nav {
		padding-top: 18px;
		padding-right: 5px;
		li {
			font-size: 16px;
			line-height: 18px;
		}
	}
	.inner {
		#content {
			width: 72%;
		}
		#sidebar {
			margin-right: 0;
			width: 25%;
		}
	}
	.search-form {
		position: relative;
		left: 119px;
		bottom: 57px;
		width: 44%;
		input[type="text"] {
			width: 240px;
		}
		input[type="search"] {
			width: 240px;
		}
	}
	#content {
		width: 70%;
	}
	.article-list {
		h2 {
			font-size: 20px;
			line-height: 24px;
		}
		strong {
			font-size: 14px;
			line-height: 16px;
		}
		li .image-holder {
			width: 22%;
		}
		&.recent h2 {
			font-size: 24px;
			line-height: 28px;
		}
	}
	.meta {
		font-size: 14px;
		line-height: 16px;
	}
	#sidebar {
		width: 26%;
	}
	.btn {
		padding: 10px;
		font-size: 12px;
		line-height: 14px;
	}
	h1 {
		font-size: 1.9em;
		line-height: 1.12em;
		margin: 0 0 6px;
		color: $black;
	}
	.social-networks.share li {
		width: 88px;
	}
	.featured-section h1 {
		font-size: 24px;
		line-height: 30px;
	}
	.aside-nav li {
		font-size: 22px;
		line-height: 26px;
	}
	.reservation-form .buttons span {
		padding-top: 2px;
	}
	.page-article .meta .share-info {
		float: none;
		width: 100%;
		text-align: left;
	}
	#footer .row {
		padding-left: 4%;
		padding-right: 4%;
	}
}
@media only screen and(max-width: 1023px) {
	body {
		font-size: 1.8em;
	}
	h1 {
		font-size: 2em;
	}
	.article-list {
		h2 {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 10px;
		}
		&.recent h2 {
			font-size: 16px;
			line-height: 22px;
		}
	}
	.meta {
		font-size: 12px;
		line-height: 14px;
	}
	.social-networks.share li {
		width: 80px;
	}
	.featured-section h1 {
		font-size: 20px;
		line-height: 24px;
	}
	.aside-nav li {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.reservation-form .buttons span {
		padding-top: 6px;
	}
	#footer .row {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and(max-width: 979px) {
	.adbox {
		display: inline-flex;
	}
	body {
		font-size: 1.5em;
	}
	#nav {
		clear: both;
		padding: 19px 0 0;
		ul {
			float: left;
		}
	}
	.featured-section {
		.featured-article {
			float: none;
			width: 100%;
			border-bottom: 1px solid $color_iron_approx;
			margin-bottom: 20px;
		}
		.article-list {
			float: none;
			width: 100%;
		}
	}
	.social-networks.share li {
		width: 50px;
	}
	.recent-articles .header .title {
		max-width: 100%;
		font-size: 13px;
		line-height: 20px;
		color: $white;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		min-width: 180px;
		text-align: center;
		background: $color_robins_egg_blue_approx;
		margin-top: 7px;
		max-width: 50%;
	}
	.widget .title {
		margin-bottom: 10px;
	}
	.five-col .col {
		width: 33.33%;
	}
	.three-col .col {
		width: 50%;
		margin-bottom: 20px;
	}
}
@media only screen and(max-width: 767px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.3em;
	}
	.header-navbar {
		padding: 10px 0;
	}
	#nav {
		overflow: visible;
		clear: none;
		padding-top: 5px;
		.opener {
			display: block;
		}
		ul {
			max-height: 0;
			overflow: hidden;
			float: none;
			width: 100%;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all .4s ease-in-out;
		}
		li {
			float: none;
			margin: 0 0 5px;
			&:before {
				display: none;
			}
		}
	}
	.inner {
		#content {
			width: 100%;
			float: none;
		}
		#sidebar {
			float: none;
			width: 100%;
		}
	}
	.search-form {
		position: relative;
		float: left;
		top: 10px;
		left: 5%;
		display: inline-block;
		width: 85%;
	}
	#content {
		padding-top: 50px;
		float: none;
		width: 100%;
	}
	#sidebar {
		float: none;
		width: 100%;
	}
	.widget {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 1.5%;
		margin-right: -5px;
	}
	.page-article {
		.btn-pin {
			top: 10px;
			right: 10px;
		}
		.meta .btn-print {
			display: none;
		}
	}
	.slideshow {
		.control-btns {
			display: none;
		}
		.caption {
			font-size: 14px;
			line-height: 16px;
		}
	}
}
@media only screen and(max-width: 599px) {
	.top-adbox {
		display: none;
	}
	.logo {
		width: 240px;
		padding-top: 25px;
	}
	.widget {
		display: block;
		width: 100%;
		margin-right: 0;
		margin-top: 5px;
		margin-bottom: 35px;
	}
	#nav .opener {
		position: relative;
		top: 11px;
		display: inline-block;
	}
	.article-list.recent li .image-holder {
		width: 22%;
		margin-right: 2%;
	}
	.page-article .meta {
		.author-info {
			font-size: 12px;
		}
		.share-num {
			font-size: 14px;
			padding: 0 10px 0 0;
		}
	}
	.five-col .col {
		width: 50%;
		padding: 0 3%;
	}
	.three-col .col {
		width: 100%;
		padding: 0 3%;
	}
	//.pagination li {
	//	float: left;
	//	min-width: 40px;
	//	height: 36px;
	//	background: none;
	//	text-align: center;
	//	font-size: 11px;
	//	line-height: 26px;
	//	a {
	//		display: block;
	//		height: 100%;
	//		color: $color_cape_cod_approx;
	//		font-weight: 500;
	//		padding: 8px 5px;
	//		border-left: 0 solid $color_gray_nurse_approx;
	//		text-decoration: none;
	//		&.btn-next {
	//			position: relative;
	//			&:after {
	//				content: "";
	//				display: inline-block;
	//				vertical-align: middle;
	//				margin: 0 5px;
	//				width: 0;
	//				height: 0;
	//				border-style: solid;
	//				border-width: 4px 0 4px 4px;
	//				border-color: transparent transparent transparent $color_cape_cod_approx;
	//			}
	//		}
	//		&.btn-prev {
	//			position: relative;
	//			&:before {
	//				content: "";
	//				display: inline-block;
	//				vertical-align: auto;
	//				margin: 0 5px;
	//				width: 0;
	//				height: 0;
	//				border-style: solid;
	//				border-width: 4px 4px 4px 0;
	//				border-color: transparent $color_cape_cod_approx transparent transparent;
	//			}
	//		}
	//	}
	//	strong {
	//		display: block;
	//		height: 100%;
	//		color: $color_cape_cod_approx;
	//		font-weight: 500;
	//		padding: 8px 5px;
	//		border-left: 0 solid $color_gray_nurse_approx;
	//		text-decoration: none;
	//		&.btn-next {
	//			position: relative;
	//			&:after {
	//				content: "";
	//				display: inline-block;
	//				vertical-align: middle;
	//				margin: 0 5px;
	//				width: 0;
	//				height: 0;
	//				border-style: solid;
	//				border-width: 4px 0 4px 4px;
	//				border-color: transparent transparent transparent $color_cape_cod_approx;
	//			}
	//		}
	//		&.btn-prev {
	//			position: relative;
	//			&:before {
	//				content: "";
	//				display: inline-block;
	//				vertical-align: auto;
	//				margin: 0 5px;
	//				width: 0;
	//				height: 0;
	//				border-style: solid;
	//				border-width: 4px 4px 4px 0;
	//				border-color: transparent $color_cape_cod_approx transparent transparent;
	//			}
	//		}
	//	}
	//}
	.recent-articles .header .title {
		font-size: 13px;
		line-height: 20px;
		color: $white;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		min-width: 100px;
		text-align: center;
		background: $color_robins_egg_blue_approx;
		margin-top: 7px;
		max-width: 50%;
	}
}
.form-group:after {
	content: " ";
	display: block;
	clear: both;
}
.five-col .col {
	width: 16.45%;
}
.three-col .col {
	width: 33%;
}
.link-arrow:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 5px;
	width: 11px;
	height: 9px;
	background: $url_0 no-repeat -29px -5px;
}

.unlockable-blocker {
	position: absolute;
	background-color: $color_black_5_approx;

	&::before {
		content: attr(data-text);
		background-color: $color_black_25_approx;
		color: #fff;
		position: absolute;
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 50px;
	}
}

.blocker-scroller {
	background-color: $color_black_25_approx;
	&::before {
		content: '';
	}
}

.clinton-win {
	background-color: $white;
	text-align: center;

	.clinton-text {
		font-size: 150px;
		font-weight: bold;
		color: $color_chambray_approx;
		margin: 0;
	}

	.clinton-spacing {
		margin-top:10px;
	}

	.clinton-spacing-large {
		margin-top:30px;
	}
}

// Components
// TODO: Reference 1 index file here that points to all of these

@import 'components/_slideshow';
@import 'components/_tabs';
// TODO: Figure out why this is named incorrectly and why that fact doesn't seem to be messing anything up.
@import 'components/article-items';
