<script type='text/javascript'>
adSetAdURL('/_uac/adpage.html');
</script>
<strong class="title"><span>Book Your Travel</span></strong>
				{% block reservation %}
					{% include "@blocks/partials/reservation.twig" %}
				{% endblock %}

<section class="adbox">
	<script type='text/javascript'>
	<!--
		htmlAdWH('93513133', 'rr', 'rr', 'f');
	//--></section>
	</script>
</section>
<div id="zergnet-widget-21900"></div>

<script language="javascript" type="text/javascript">
    (function() {
        var zergnet = document.createElement('script');
        zergnet.type = 'text/javascript'; zergnet.async = true;
        zergnet.src = 'http://www.zergnet.com/zerg.js?id=21900';
        var znscr = document.getElementsByTagName('script')[0];
        znscr.parentNode.insertBefore(zergnet, znscr);
    })();
</script>
<section class="widget">
	<strong class="title"><span>Popular Topics</span></strong>
	<nav class="aside-nav">
		<ul>
			{% set arr = vars.topic_tags|json_decode %}
			{% for path,name in arr %}
			<li><a href="/tag/{{path}}">{{name}}</a></li>
		{% endfor %}
		</ul>
	</nav>
</section>

<div class="fb-page" data-width="300" data-href="https://www.facebook.com/MapQuest" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MapQuest"><a href="https://www.facebook.com/MapQuest">MapQuest</a></blockquote></div></div>
&nbsp

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#F5F5F5; clear:left; font:14px Helvetica,Arial,sans-serif; }
    #mc_embed_signup .button {clear:both; background-color: #F59701; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mapquest.us2.list-manage.com/subscribe/post?u=982978271521ef8adf5ae4675&amp;id=9a32a932f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
   <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Email subscription</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_982978271521ef8adf5ae4675_9a32a932f4" tabindex="-1" value=""></div>
   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   </div>
</form>
</div>

<!--End mc_embed_signup-->



