<script type='text/javascript'>
adSetAdURL('/_uac/adpage.html');
</script>
{# <strong class="title"><span>Book Your Travel</span></strong>
				{% block reservation %}
					{% include "@blocks/partials/reservation.twig" %}
				{% endblock %} #}

<section class="adbox">
	<script type='text/javascript'>
	<!--
		htmlAdWH('93513133', 'rr', 'rr', 'f');
	//--></section>
	</script>
</section>
<div id="zergnet-widget-21900"></div>

<script language="javascript" type="text/javascript">
    (function() {
        var zergnet = document.createElement('script');
        zergnet.type = 'text/javascript'; zergnet.async = true;
        zergnet.src = 'https://www.zergnet.com/zerg.js?id=21900';
        var znscr = document.getElementsByTagName('script')[0];
        znscr.parentNode.insertBefore(zergnet, znscr);
    })();
</script>
<section class="widget">
	<strong class="title"><span>Popular Topics</span></strong>
	<nav class="aside-nav">
		<ul>
			{% set arr = vars.topic_tags|json_decode %}
			{% for path,name in arr %}
			<li><a href="/tag/{{path}}">{{name}}</a></li>
		{% endfor %}
		</ul>
	</nav>
</section>

<div class="center-text-small">
	<div class="fb-page" data-widht="300" data-href="https://www.facebook.com/mapquesttravel/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mapquesttravel/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mapquesttravel/">MapQuest Travel</a></blockquote></div>
</div>

