<aside class="share-block">
	<!-- search form of the page -->
	<form action="#" class="search-form">
		<fieldset>
			<input type="search" placeholder="Search">
			<button type="submit" class="btn-search">Search</button>
		</fieldset>
	</form>
	<ul class="social-networks share">
		<li><a href="https://www.facebook.com/MapQuest" class="facebook">facebook</a></li>
		<li><a href="https://twitter.com/share" class="twitter">twitter</a></li>
		<li><a href="https://plus.google.com/+mapquest/videos" class="gplus">gplus</a></li>
	</ul>
</aside>
