{% extends '@blocks/layouts/feature.twig' %}

{% set metaData = {
	title: "Everything There is About Cats - MapQuest" ,
	description: "From local to travel to things you didn't want to know, we've got all the cat info possible from local contributors." ,
	h1: "Cats",
	ogUrl: "http://parachute.mapquest.com/quest/"
} %}

{% set tabData = [{
	name: 'cats',
	label: 'Take a CatQuest',
	dataOptions: { tags: ['CatQuest'] }
}] %}

{% set paginationData = {
	content_type: 'Kitties'
} %}

{% block title %}
	<title>Find Your CatQuest</title>
{% endblock %}

{% block featureBody %}
	<h3>
		<em>
			Welcome to CatQuest: Everything you ever wanted — or didn't want – to know about cats in your area. Find a
			vet, a place to take Kitty on a walk, or just enjoy our feline friends.
		</em>
	</h3>

	<div class="map-holder">
		<iframe height="600" width="100%" maxwidth="1060 px" border="0" marginwidth="0" marginheight="0"
				src="https://www.mapquest.com/embed/my-maps/182840e3-abae-4fc1-a97e-3f32a4310b33?center=39.740986355883585,-98.3056640625&zoom=4&maptype=map">
		</iframe>
	</div>
{% endblock %}
