{% extends '@blocks/layouts/feature.twig' %}

{% set contributor = api.contributors.getBySlug({
	site_id: 979,
	include_expired: true,
	slug: req.params.slug,
}) %}

{% if contributor.byline is not defined %}
	{% set contributor = api.contributors.getBySlug({
		site_id: 1032,
		include_expired: true,
		slug: req.params.slug,
	}) %}
{% endif %}

{% set metaData = {
	title: "Articles written by #{contributor.byline}" ,
	description: "Articles published on MapQuest Travel written by #{contributor.byline} - MapQuest" ,
	ogUrl: "http://travel.mapquest.com/contributor/#{req.params.slug}/"
} %}

{% set tabData = [{
	name: 'carticles',
	label: "Articles by #{contributor.byline}",
	dataOptions: { contributor_slugs: [req.params.slug], include_expired: true },
	class: 'tab-large'
}] %}

{% set paginationData = {
	pathlink: '/contributor/'~req.params.slug
} %}

{% block title %}
	<title>Articles by {{ contributor.byline }}</title>
{% endblock %}
