{% extends '@blocks/layouts/main.twig' %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}

{% block main %}

	<!-- main informative part of the page -->
			<main id="main">
				<div class="container">
					<aside class="share-block">
						<!-- search form of the page -->
						<form action="#" class="search-form">
							<fieldset>
								<input type="search" placeholder="Search">
								<button type="submit" class="btn-search">Search</button>
							</fieldset>
						</form>
						<ul class="social-networks share">
							<li><a href="https://www.facebook.com/MapQuest" class="facebook">facebook</a></li>
							<li><a href="https://twitter.com/share" class="twitter">twitter</a></li>
							<li><a href="https://plus.google.com/+mapquest/videos" class="gplus">gplus</a></li>
						</ul>
					</aside>
					<!-- main content holder of the page -->
					<div id="two-columns">
						<!-- main content of the page -->
						<div id="content">
							<!-- featured article section of the page -->
							<div class="featured-section">
								<header class="header">
									<strong class="title">Featured Articles</strong>
								</header>
								<div class="article-holder">
									<div class="featured-article">
										<div class="image-holder"><img src="images/img01.jpg" height="360" width="485" alt="image description"></div>
										<div class="details">
											<h1><a href="#"><strong>Here’s A Look Inside The Amazing New York Central Perk Pop-Up Shop</strong></a></h1>
											<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</div>
									<ul class="article-list">
										<li>
											<div class="image-holder"><a href="#"><img src="images/thumb01.jpg" height="100" width="150" alt="image description"></a></div>
											<div class="details">
												<h2><a href="#">16 Instagram Accounts That Will Make You Dream Of Ireland</a></h2>
												<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
											</div>
										</li>
										<li>
											<div class="image-holder"><a href="#"><img src="images/thumb02.jpg" height="100" width="150" alt="image description"></a></div>
											<div class="details">
												<h2><a href="#">If You Do Any Of This On A Plane - Everyone Hates You</a></h2>
												<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
											</div>
										</li>
										<li>
											<div class="image-holder"><a href="#"><img src="images/thumb03.jpg" height="100" width="150" alt="image description"></a></div>
											<div class="details">
												<h2><a href="#">21 Breathtaking Fairytale Photos Of Croatia</a></h2>
												<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- recent article section of the page -->
							<div class="recent-articles">
								<header class="header">
									<div class="pagination">
										<ul>
											<li class="active"><strong>1</strong></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><span>...</span></li>
											<li><span>6,646</span></li>
											<li><a href="#" class="btn-next">Next</a></li>
										</ul>
									</div>
									<strong class="title">Most Recent Articles</strong>
								</header>
								<ul class="article-list recent">
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb04.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">12 Delicious Nordic Cafés In London </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Zach Everson</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb05.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">How Many Countries Can You Identify From Just One Picture?</a></h2>
											<aside class="meta"><span class="author">by <a href="#">Michael Yessis</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb06.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">28 Thoughts That All Anxious Travelers Experience </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb07.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">15 Incredible Performances On Street Pianos From Around The World </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb08.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">23 Islands You Have Never Visited And Never Will </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Zach Everson</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb09.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">11 Before And After Pictures Of 9/11 That Show How New York Recovered From Its Darkest Day </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Michael Yessis</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="adbox"><img src="images/ad4.jpg" height="90" width="726" alt="728x90"></div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb10.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">26 Stunning Photos Of Animals Around The World </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Michael Yessis</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb11.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">27 Places You Won’t Believe Are In Wales</a></h2>
											<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
									<li>
										<div class="image-holder"><a href="#"><img src="images/thumb12.jpg" height="100" width="150" alt="image description"></a></div>
										<div class="details">
											<h2><a href="#">Dazzling Pictures From New York’s West Indian Day Parade </a></h2>
											<aside class="meta"><span class="author">by <a href="#">Jess Moss</a> |</span> <span class="date">posted <time datetime="2014-09-29">Sept. 29, 2014, at 9:21 a.m.</time> </span></aside>
										</div>
									</li>
								</ul>
								<footer class="footer">
									<div class="pagination">
										<ul>
											<li class="active"><strong>1</strong></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><span>...</span></li>
											<li><a href="#">6,646</a></li>
											<li><a href="#" class="btn-next">Next</a></li>
										</ul>
									</div>
								</footer>
							</div>
						</div>
						<!-- sidebar of the page -->
						<aside id="sidebar">
								<strong class="title"><span>Book Your Travel</span></strong>
								<div class="tab-holder">
									<ul class="tabset">
										<li class="active"><a href="#hotel" class="hotel">Hotels</a></li>
										<li><a href="http://bookings.mapquest.com/flights/?refid=5101" class="flight">Flights</a></li>
										<li><a href="#car" class="car">Cars</a></li>
									</ul>
									<div class="tab-content">
										<div id="hotel" class="tab-pane">
											<!-- reservation form of the page -->
											<form action="#" class="reservation-form">
												<fieldset>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Location" >
													</div>
													<div class="form-group">
														<div class="form-control">
															<input type="text" placeholder="Check In">
															<a href="#" class="icon-calender">Calender</a>
														</div>
														<div class="form-control">
															<input type="text" placeholder="Check Out">
															<a href="#" class="icon-calender">Calender</a>
														</div>
													</div>
													<div class="form-group buttons">
														<input type="submit" class="btn btn-green" value="Check Availability">
														<span class="disp-ib">or</span>
														<a href="http://travel.aol.com/discount-travel/" class="btn btn-orange">See Deals</a>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</section>
							<section class="adbox"><img src="images/ad2.jpg" height="1050" width="300" alt="Devil Ad 300x1050"></section>
						</aside>
					</div>
				</div>
			</main>


{% endblock %}
