{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set tabData = [{
	name: 'news',
	label: 'Recent Local News',
	dataOptions: { site_ids: [1032,979], tags: ['local'] },
	class: 'tab-large'
}] %}

{% block title %}
	<title>Parachute: Local Posts</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Featured Local Articles',
		zone: 'Featured Local',
		siteIds: [1032]
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
