{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "Local and travel related MLB and baseball content from MapQuest" ,
	description: "Find a place near the stadium to eat, tips on finding cheap seats, and more related to your favorite baseball team." ,
	h1: "Local Baseball",
	ogUrl: "http://parachute.mapquest.com/mlb/"
} %}

{% set tabData = [{
	name: 'mlb',
	label: 'Recent Baseball Articles',
	dataOptions: { tags: ['MLB', 'baseball'] },
	class: 'tab-large'
}] %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Baseball Articles',
		zone: 'Featured MLB'
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}

{% block featureTitle %}
	<title>MLB and Baseball Articles from Parachute</title>
{% endblock %}
