{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "Reasons to visit a NASCAR track this year - MapQuest" ,
	description: "Here's why you should try visiting a NASCAR track, with insider tips from locals." ,
	ogUrl: "http://parachute.mapquest.com/motorsports/"
} %}

{% set tabData = [{
	name: 'nascar',
	label: 'Recent Motorsports Articles',
	dataOptions: { tags: ['nascar', 'motorsports'] },
	class: 'tab-large'
}] %}

{%  block featureTitle %}
	<title>Motorsports Articles from Parachute</title>
{%  endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Motorsports Articles',
		zone: 'Featured NASCAR'
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
