{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "MapQuest National Parks | Explore all 58 National Parks through guides, photos, maps and videos." ,
	description: "Everything you need to know about where to explore, what to do, and even the wildlife to see at every National Park." ,
	h1: "National Parks",
	ogUrl: "http://travel.mapquest.com/national-parks/",
} %}

{% set tabData = [{
	name: 'parks',
	label: 'Recent National Parks Articles',
	dataOptions: { tags: ['National Parks'] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	content_type: 'National Parks'
} %}

{% block title %}
	<title>National Parks Articles from MapQuest</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'National Park Articles',
		zone: 'Featured Parks'
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
