{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "MapQuest Pokemon Maps and Tips | Local tips for Pokemon Go." ,
	description: "Everything you need to play Pokemon Go in your city." ,
	h1: "Pokemon Go Tips",
	ogUrl: "http://parachute.mapquest.com/pokego/",
} %}

{% set tabData = [{
	name: 'pokemon',
	label: 'Pokemon Go Articles',
	dataOptions: { tags: ['Pokemon', 'Pokemon Go', 'Pokemon Map'] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	content_type: 'Pokemon Go'
} %}

{% block title %}
	<title>Pokemon Go Articles from MapQuest</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Pokemon Go Articles',
		zone: 'Featured Pokemon'
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
