{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "Quest Inspiration from Locals - MapQuest" ,
	description: "Find your next bucket-list item, with tips from local insiders." ,
	ogUrl: "http://parachute.mapquest.com/quest/",
} %}

{% set tabData = [{
	name: 'quests',
	label: 'Find Your Quest',
	dataOptions: { tags: ['quest'] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	content_type: 'Quests'
} %}

{% block title %}
	<title>Find Your Quest</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Featured Quests',
		zone: 'Featured Quests'
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
