{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
  title: "Sh*tty Food Week from MapQuest. Not your mama's diet.",
  description: "Find a place in your city to satisfy the unending gluttony of your inner barbarian" ,
  h1: "Sh*tty Food",
  ogUrl: "http://travel.mapquest.com/shitty-food/",
  image: "https://o.aolcdn.com/images/dims?resize=537%2C304%2Cmin&crop=537%2C304%2C0%2C0&quality=80&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fb3cdad7f5becbf2ef7db15a68732fd96%2F205151224%2Fshittyfoodweek2.png&client=cbc79c14efcebee57402&signature=3cc7933d2d4a4527cea6cbc4859f175debe4db7d"
} %}

{% set tabData = [{
  name: 'shitty-food',
  label: 'More Crappy Food',
  dataOptions: { tags: ['shitty food week'] },
  class: 'tab-large'
}] %}

{% block title %}
  <title>The healthiest time of year is finally here!</title>
{% endblock %}

{% block featureBody %}
  <h3>
    <em>
      Find the best places to eat the worst food across the country, courtesy of MapQuest contributors and people who
      love obesity.
    </em>
  </h3>

  {% set featuredArticlesData = {
    label: 'Awesomely Bad Food',
    zone: 'Shitty Food'
  } %}

  {{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
