{%- import "@blocks/macros/asset-file.twig" as assetfile -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundsLocal</title>
    <link media="all" rel="stylesheet" href="{{ asset('styles/'~assetfile.assetfile('sl-main.min.css')) }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
    <script type="text/javascript" src="{{ asset('scripts/jquery.sl-main.js') }}" defer></script>
</head>
<body class="home-page">
    <div id="wrapper">
        <div class="w1">
        <header id="header">
            <div class="container">
                <nav id="nav">
                    <a href="#" class="nav-opener"><span></span></a>
                    <div class="nav-drop">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Episodes</a></li>
                            <li><a href="#">Download the App</a></li>
                            <li><a href="#">mapquest.com</a></li>
                        </ul>
                    </div>
                </nav>
                <strong class="logo"><a href="#"><img src="images/logo.png" alt="Sounds Local"></a></strong>
            </div>
        </header>
        <main id="main">
            <div class="intro-text">
                <div class="container">
                    <p>Parachute by mapquest brings you around the country where local artists give you a tour of the town.</p>
                </div>
            </div>
            <section class="featurd-block">
                <div class="container">
                    <article class="feature-post">
                        <div class="img-holder">
                            <img src="images/img1.jpg" alt="img description">
                        </div>
                        <div class="textbox">
                        <div class="block">
                            <div class="frame">
                                <div class="container">
                                    <span class="subtitle">FEATURED</span>
                                    <h1>Y LA BAMBA <span>PORTLAND</span></h1>
                                    <a href="#" class="btn">view episode</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </article>
                    <div class="holder">
                        <article class="reguler-post">
                            <div class="img-holder">
                                <img src="images/img2.jpg" alt="img description">
                            </div>
                            <div class="textbox">
                                <h2>P.O.S <span>Minneapolis</span></h2>
                                <a href="#" class="link">view episode</a>
                            </div>
                        </article>
                        <article class="reguler-post">
                            <div class="img-holder">
                                <img src="images/img3.jpg" alt="img description">
                            </div>
                            <div class="textbox">
                                <h2>the midnight pine <span>san diego</span></h2>
                                <a href="#" class="link">view episode</a>
                            </div>
                        </article>
                        <article class="reguler-post">
                            <div class="img-holder">
                                <img src="images/img3.jpg" alt="img description">
                            </div>
                            <div class="textbox">
                                <h2>roadkill ghost choir <span>athens</span></h2>
                                <a href="#" class="link">view episode</a>
                            </div>
                        </article>
                        <article class="reguler-post">
                            <div class="img-holder">
                                <img src="images/img3.jpg" alt="img description">
                            </div>
                            <div class="textbox">
                                <h2>hembree <span>kansas city</span></h2>
                                <a href="#" class="link">view episode</a>
                            </div>
                        </article>
                        <article class="reguler-post">
                            <div class="img-holder">
                                <img src="images/img3.jpg" alt="img description">
                            </div>
                            <div class="textbox">
                                <h2>creepoid <span>philadelphia</span></h2>
                                <a href="#" class="link">view episode</a>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <div class="intro-text">
                <div class="container">
                    <p>Keep checking back for more artists in new cities. in the meantime, explore other things that parachute by mapquest has to offer:</p>
                </div>
            </div>
        </main>
    </div>
    <footer id="footer">
        <div class="footer-holder">
                <div class="footer-frame">
                    <div class="footer-top">
                        <div class="container">
                            <div class="col">
                                <h3>About</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="#">About MapQuest</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Advertise</a></li>
                                        <li><a href="#">About Our Ads</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <h3>More MapQuest</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="#">Driving Directions</a></li>
                                        <li><a href="h#">Find Place or Address</a></li>
                                        <li><a href="#">Business Solutions</a></li>
                                        <li><a href="#">Book Travel</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <h3>Even More</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="#">Become a Contributor</a></li>
                                        <li><a href="#">Custom Content Solutions</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="col">
                                <h3>Follow MapQuest</h3>
                                <ul class="social-networks">
                                    <li><a class="facebook" href="#"><img src="images/ico-social1.png" alt="img description"></a></li>
                                    <li><a class="twitter" href="#"><img src="images/ico-social2.png" alt="img description"></a></li>
                                    <li><a class="gplus" href="#"><img src="images/ico-social3.png" alt="img description"></a></li>
                                    <li><a class="youtube" href="#"><img src="images/ico-social4.png" alt="img description"></a></li>
                                    <li><a class="instagram" href="#"><img src="images/ico-social5.png" alt="img description"></a></li>
                                    <li><a class="linkedin" href="#"><img src="images/ico-social6.png" alt="img description"></a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h3>MapQuest Apps</h3>
                                <ul class="app-links">
                                    <li><a class="android" href="#"><img src="images/ico-social7.png" alt="img description"></a></li>
                                    <li><a class="apple" href="#"><img src="images/ico-social8.png" alt="img description"></a></li>
                                </ul>
                                <span class="link-text">
                                    <a class="link-arrow" href="#">More Apps from MapQuest</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
