{% extends '@blocks/layouts/feature.twig' %}

{% set tag = req.params.tag|regex_replace('/%20/', ' ') %}

{% set metaData = {
	title: "Articles about #{tag|capitalize} - MapQuest" ,
	description: "Articles from local insiders about #{tag|capitalize}." ,
	ogUrl: "http://parachute.mapquest.com/tag/#{tag}/",
} %}

{% set tabData = [{
	name: 'tag',
	label: "Articles about #{tag|capitalize}",
	dataOptions: { tags: [tag] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	pathlink: '/tag/'~tag
} %}

{%  block featureTitle %}
	<title>Articles About {{ tag|capitalize }}</title>
{%  endblock %}
