{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "Move to Canada if Trump Wins" ,
	description: "Everything you need to know before moving to Canada if Donald Trump wins the election." ,
	h1: "Moving to Canada Tips",
	ogUrl: "http://travel.mapquest.com/trexit/",
} %}

{% set tabData = [{
	name: 'trexit',
	label: 'Recent Trump-related Articles',
	dataOptions: { tags: ['trexit','run for the hills'] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	content_type: 'Trump'
} %}

{% block title %}
	<title>Trexit from MapQuest</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Trexit Articles',
		zone: 'trexit',
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
