{% extends '@blocks/layouts/feature.twig' %}
{% import "@blocks/macros/featured-articles.twig" as featuredArticles %}

{% set metaData = {
	title: "Videos on Parachute - MapQuest" ,
	description: "Videos about local people, places and events." ,
	ogUrl: "http://parachute.mapquest.com/video/",
} %}

{% set tabData = [{
	name: 'video',
	label: 'Recent Videos',
	dataOptions: { tags: ['video'] },
	class: 'tab-large'
}] %}

{% set paginationData = {
	content_type: 'Videos'
} %}

{% block title %}
	<title>Parachute: Videos</title>
{% endblock %}

{% block featureBody %}
	{% set featuredArticlesData = {
		label: 'Featured Videos',
		zone: 'Featured Videos',
	} %}

	{{ featuredArticles.render(featuredArticlesData) }}
{% endblock %}
