body {
    margin: 0;
    padding: 0;
}
a img {
    border: none;
}
.clear {
    clear: both;
}
.clear_mobile {
    display: none;
}
.rs_searchWrapper * {
    box-sizing: border-box;
}
.rs_searchWrapper {
    max-width: 1060px;
    position: relative;
}
#rs_searchRight {
    max-width: 290px;
}
.rs_searchWrapper .rs_searchbox {
    color: #474747;
    font-weight: 400;
    text-align: left;
    padding: 20px 20px 10px;
    position: relative;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
    background-color: #a0c600;
}
#rs_searchRight .rs_searchbox {
    padding: 15px 10px 10px;
    font-size: 12px;
}
.rs_searchWrapper .rs_searchbox h2 {
    display: none;
    margin: 0 0 15px;
    font-size: 21px;
    font-weight: 700;
}
.rs_searchWrapper .rs_searchbox .rs_ppn_logo {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 160px;
}
#rs_searchRight .rs_searchbox .rs_ppn_logo {
    top: 15px;
    right: 10px;
    width: 105px;
}
.rs_searchWrapper .rs_searchbox .rs_search_form {
    clear: both;
}
.rs_searchWrapper .rs_searchbox .rs_searchbox_hide {
    display: none;
}
.rs_searchWrapper .rs_products {
    margin: 0;
    padding: 0 0 20px;
    list-style: none;
    font-size: 16px;
}
.rs_searchWrapper .rs_products li {
    display: inline-block;
    font-weight: 700;
    margin-right: 25px;
    cursor: pointer;
    position: relative;
}
#rs_searchRight .rs_products li {
    margin-right: 0;
}
.rs_searchWrapper .rs_products li.last_tab {
    margin-right: 0;
}
.rs_searchWrapper .rs_products li .rs_product_circle {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 5px 0 0;
    padding: 6px;
    border-radius: 25px;
}
#rs_searchRight .rs_products li .rs_product_circle {
    margin-right: 0;
    padding: 5px;
}
.rs_searchWrapper .rs_products li.highlight_tab .rs_product_circle {
    background-color: #d0e19e;
}
.rs_searchWrapper .rs_products li .rs_product_icon {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 25px;
    margin-top: -2px;
    background-image: url(../images/products2.png);
    background-repeat: no-repeat;
}
.rs_searchWrapper .rs_products li #iconHotel {
    background-position: -0px -0px;
}
.rs_searchWrapper .rs_products li #iconAir {
    background-position: -52px -0px;
}
.rs_searchWrapper .rs_products li #iconCar {
    background-position: -26px -0px;
}
.rs_searchWrapper .rs_products li #iconVP {
    background-position: -78px -0px;
}
.rs_searchWrapper .rs_product_resp {
    display: none;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 7px;
}
.rs_searchWrapper .rs_searchbox .rs_no_margin {
    margin-right: 0 !important;
}
.rs_searchWrapper .rs_searchbox .rs_autosuggest,
.rs_searchWrapper .rs_searchbox .rs_from,
.rs_searchWrapper .rs_searchbox .rs_to,
.rs_searchWrapper .rs_searchbox .rs_chk_in,
.rs_searchWrapper .rs_searchbox .rs_chk_out,
.rs_searchWrapper .rs_searchbox #rs_product_select,
.rs_searchWrapper .rs_searchbox .rs_rooms,
.rs_searchWrapper .rs_searchbox .rs_time_in,
.rs_searchWrapper .rs_searchbox .rs_time_out,
.rs_searchWrapper .rs_searchbox .rs_select_box {
	background-color: white;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #8f8f8f;
    text-indent: 32px;
    outline: none;
    border-radius: 7px;
}
.rs_searchWrapper .rs_searchbox .rs_form_row {
    margin-bottom: 12px;
}
#rs_searchRight .rs_searchbox .rs_form_row {
    margin-bottom: 10px;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_car_options .rs_car_option {
    display: inline-block;
    padding: 10px 15px;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
#rs_searchRight .rs_searchbox .rs_car_form .rs_car_options .rs_car_option {
    padding: 8px 10px;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_car_options .car_highlight {
    background-color: #474747;
    color: white;
    border-color: #474747;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_car_options .same-location {
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -khtml-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_car_options .diff-location {
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    -khtml-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    margin-left: -4px;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_different_location {
	display: none;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div {
    width: 49%;
    margin-right: 0;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_half_width {
    width: 49% !important;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_quarter_width {
    width: 20.5% !important;
}
#rs_searchRight .rs_searchbox .rs_car_form .rs_time_row {
    margin-right: 0;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_time {
    background-image: url(../images/clock.jpg);
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option {
    display: inline-block;
    padding: 10px 15px;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option {
    display: inline-block;
    padding: 10px 15px;
}
#rs_searchRight .rs_searchbox .rs_air_form .rs_air_options .rs_air_option {
    padding: 8px 10px;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .air_highlight {
    background-color: #474747;
    color: white;
    border-color: #474747;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .round-trip {
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -khtml-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .one-way,
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .multi-city {
    margin-left: -4px;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_air_options .multi-city {
    -moz-border-radius: 0 5px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    -khtml-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
}
.rs_searchWrapper .rs_searchbox .air_flight_3,
.rs_searchWrapper .rs_searchbox .air_flight_4,
.rs_searchWrapper .rs_searchbox .air_flight_5 {
    display: none;
}
.rs_searchWrapper .rs_searchbox .rs_air_form h3 {
    margin: 0 0 12px;
    color: #474747;
    font-size: 16px;
    font-weight: 700;
}
.rs_searchWrapper .rs_searchbox .add_rem_flight {
    cursor: pointer;
    margin: 5px 15px 5px 0;
    padding: 10px 15px;
    background: #474747;
    color: white;
    display: inline-block;
    border-radius: 7px;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_origin_row,
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_destination_row {
    width: 30.25%;
}
.rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
.rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
    width: 38.5%;
}
#rs_searchRight .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
#rs_searchRight .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
    width: 100%;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_date {
    width: 18.25%;
}
.rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
    width: 21%;
}
#rs_searchRight .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
    width: 49%;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
    width: 19.85%;
}
.rs_searchWrapper .rs_searchbox .rs_air_form .rs_button_row {
    float: right;
    width: 18.25%;
}
.rs_searchWrapper .rs_searchbox .rs_vp_form #childrens_ages {
    display: none;
}
.rs_searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row,
.rs_searchWrapper .rs_searchbox .rs_vp_form .rs_destination_row {
    width: 30.25%;
}
.rs_searchWrapper .rs_searchbox .rs_vp_form .rs_date {
    width: 18.25%;
}
.rs_searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
    width: 19.85%;
}
.rs_searchWrapper .rs_searchbox .rs_vp_form .rs_button_row {
    float: right;
    width: 18.25%;
}
.rs_searchWrapper .rs_searchbox .rs_autosuggest,
.rs_searchWrapper .rs_searchbox .rs_from,
.rs_searchWrapper .rs_searchbox .rs_to {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    background-image: url(../images/location.jpg) !important;
    background-position: left center !important;
    background-repeat: no-repeat !important;
}
.rs_searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div,
#air_one_way,
#air_multi_dest {
    display: none;
}
.rs_searchWrapper .rs_searchbox .rs_date_input_container {
    position: relative;
    cursor: pointer;
}
.rs_searchWrapper .rs_searchbox .rs_date_input_container input {
    display: block;
}
.rs_searchWrapper .rs_searchbox .rs_chk_in,
.rs_searchWrapper .rs_searchbox .rs_chk_out {
    cursor: pointer;
    background-image: url(../images/calendar.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
}
.rs_searchWrapper .rs_searchbox .rs_mobi {
    display: none;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_date_container {
    width: 49%;
    color: #8f8f8f;
    background-color: white;
    display: inline-block;
    zoom: 1;
    border: 1px solid #cccccc;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}
.rs_searchWrapper .rs_searchbox .rs_mobile_room_counter {
    display: none;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_title {
    padding: 5px 0;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_chk_day {
    font-size: 45px;
    font-weight: bold;
    margin: 7px 0;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_chk_month {
    margin-bottom: 7px;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_in {
    float: left;
}
.rs_searchWrapper .rs_searchbox .rs_mobi_out {
    float: right;
}
.rs_searchWrapper .rs_searchbox .rs_autosuggest_row {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    vertical-align: middle;
    float: left;
}
#rs_searchRight .rs_searchbox .rs_autosuggest_row {
    width: 100%;
    margin-right: 0;
    float: none;
}
.rs_searchWrapper .rs_searchbox .rs_date {
    display: inline-block;
    width: 14%;
    margin-right: 1%;
    vertical-align: middle;
    float: left;
}
#rs_searchRight .rs_searchbox .rs_date {
    width: 49%;
    margin-right: 2%;
}
.rs_searchWrapper .rs_searchbox .rs_rooms_row {
    display: inline-block;
    width: 12%;
    margin-right: 1%;
    vertical-align: middle;
    float: left;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
}
#rs_searchRight .rs_searchbox .rs_rooms_row {
    width: 49%;
    margin-right: 2%;
}
.rs_searchWrapper .rs_searchbox .rs_guest_row {
    display: inline-block;
    width: 12%;
    margin-right: 1%;
    vertical-align: middle;
    float: left;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
}
#rs_searchRight .rs_searchbox .rs_guest_row {
    width: 49%;
    margin-right: 0;
}
.rs_searchWrapper .rs_searchbox #rs_product_select,
.rs_searchWrapper .rs_searchbox .rs_select_box,
.rs_searchWrapper .rs_searchbox .rs_rooms,
.rs_searchWrapper .rs_searchbox .pax,
.rs_searchWrapper .rs_searchbox .rs_time,
.rs_searchWrapper .rs_searchbox .rooms {
    width: 100%;
    display: inline-block;
    height: 38px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    background-image: url(../images/people.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 0;
}
.rs_searchWrapper .rs_searchbox .rs_button_row {
    display: inline-block;
    width: 13%;
    vertical-align: middle;
    position: relative;
    float: left;
}
#rs_searchRight .rs_searchbox .rs_button_row {
    width: 49%;
    float: right;
}
.rs_searchWrapper .rs_searchbox .rs_search {
    padding: 0;
    background-color: #474747;
    border: none;
    outline: none;
    width: 100%;
    height: 38px;
    line-height: 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
}
@media only screen and (max-width: 925px) {
    .rs_searchWrapper .rs_searchbox .rs_autosuggest_row {
        width: 32.65%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div {
        width: 49.5%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_half_width {
        width: 49.5% !important;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_time_row {
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form #rs_time_out_row {
        margin-right: 0 !important;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_quarter_width {
        width: 24.25% !important;
        margin-right: 1% !important;
    }
    .rs_searchWrapper .rs_searchbox .rs_date,
    .rs_searchWrapper .rs_searchbox .rs_people {
        width: 32.65%;
    }
    .rs_searchWrapper .rs_searchbox .rs_chk_out_row {
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_rooms_row {
        width: 32.6%;
    }
    .rs_searchWrapper .rs_searchbox .rs_guest_row {
        width: 32.6%;
    }
    .rs_searchWrapper .rs_searchbox .rs_button_row {
        float: right;
        width: 32.6%;
    }
}
@media only screen and (max-width: 700px){
    .rs_searchWrapper .rs_products li {
        margin-right: 10px;
    }
    .rs_searchWrapper .rs_products li span {
        display: none;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_half_width {
        margin-right: 1%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_time_row {
        margin-right: 1%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_destination_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
        width: 49.5%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_origin_row {
        margin-right: 1%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_date,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
        width: 49.5%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
        width: 24.25%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_button_row {
        width: 24%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_destination_row {
        width: 49.5%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row {
        margin-right: 1%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_date {
        width: 49.5%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
        width: 24.25%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_button_row {
        width: 24%;
    }
    .rs_searchWrapper .rs_searchbox .rs_autosuggest_row {
        width: 100%;
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_date,
    .rs_searchWrapper .rs_searchbox .rs_people {
        width: 24.25%;
    }
    .rs_searchWrapper .rs_searchbox .rs_chk_out_row {
        margin-right: 1%;
    }
    .rs_searchWrapper .rs_searchbox .rs_rooms_row {
        width: 24.25%;
    }
    .rs_searchWrapper .rs_searchbox .rs_guest_row {
        width: 24.25%;
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_button_row {
        width: 33%;
        margin-bottom: 10px;
    }
    #rs_searchRight .rs_searchbox .rs_button_row {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 500px) {
    .rs_searchWrapper .rs_searchbox {
        padding: 15px;
    }
    #rs_searchRight .rs_searchbox {
        padding: 10px;
    }
    .rs_searchWrapper .rs_products {
        display: none;
    }
    .rs_searchWrapper .rs_product_resp {
        display: block;
    }
    .rs_searchWrapper .rs_searchbox h2 {
        display: block;
    }
    .rs_searchWrapper .rs_searchbox .rs_ppn_logo {
        top: 15px;
        width: 140px;
    }
    .rs_searchWrapper .rs_searchbox .rs_form_row {
        margin-bottom: 10px;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div {
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_time_row {
        margin-right: 2%;
    }
    #rs_searchRight .rs_searchbox .rs_car_form .rs_time_row {
        margin-right: 2%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_half_width {
        width: 100% !important;
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_quarter_width {
        width: 49% !important;
        margin-right: 2% !important;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_destination_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_origin_row {
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_one_way .rs_rooms_row,
    .rs_searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_rooms_row {
        width: 100%;
        margin-right: 0;
    }
    #rs_searchRight .rs_searchbox .rs_rooms_row {
        width: 100%;
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_air_form .rs_button_row {
        float: none;
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row,
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_destination_row {
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row {
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
        width: 100%;
        margin-right: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_vp_form .rs_button_row {
        float: none;
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_car_form .rs_time {
        background-image: url(../images/dropdown.gif);
    }
    .rs_searchWrapper .rs_searchbox .rs_mobi_date_container {
        display: block;
    }
    .rs_searchWrapper .rs_searchbox .rs_mobi {
        display: block;
    }
    .rs_searchWrapper .rs_searchbox .rs_date_input_container input {
        display: none;
    }
    .rs_searchWrapper .rs_searchbox .rs_autosuggest,
    .rs_searchWrapper .rs_searchbox .rs_from,
    .rs_searchWrapper .rs_searchbox .rs_to,
    .rs_searchWrapper .rs_searchbox .rs_chk_in,
    .rs_searchWrapper .rs_searchbox .rs_chk_out,
    .rs_searchWrapper .rs_searchbox #rs_product_select,
    .rs_searchWrapper .rs_searchbox .rs_rooms,
    .rs_searchWrapper .rs_searchbox .rs_time_in,
    .rs_searchWrapper .rs_searchbox .rs_time_out,
    .rs_searchWrapper .rs_searchbox .rs_select_box {
        text-indent: 0;
    }
    .rs_searchWrapper .rs_searchbox .rs_autosuggest,
    .rs_searchWrapper .rs_searchbox .rs_from,
    .rs_searchWrapper .rs_searchbox .rs_to {
        background-image: none !important;
    }
    .rs_searchWrapper .rs_searchbox #rs_product_select,
    .rs_searchWrapper .rs_searchbox .rs_select_box,
    .rs_searchWrapper .rs_searchbox .rs_rooms,
    .rs_searchWrapper .rs_searchbox .pax,
    .rs_searchWrapper .rs_searchbox .rs_time,
    .rs_searchWrapper .rs_searchbox .rooms {
        background-image: url(../images/dropdown.gif);
        background-position: 95% center;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .rs_searchWrapper .rs_searchbox .rs_autosuggest_row {
        float: none;
    }
    .rs_searchWrapper .rs_searchbox .rs_date {
        display: none;
    }
    .rs_searchWrapper .rs_searchbox .rs_rooms_row {
        width: 49%;
        margin-right: 2%;
    }
    .rs_searchWrapper .rs_searchbox .rs_guest_row {
        width: 49%;
    }
    #rs_searchRight .rs_searchbox .rs_guest_row {
        width: 100%;
    }
    .rs_searchWrapper .rs_searchbox .rs_button_row {
        float: none;
        width: 100%;
        margin-bottom: 0;
    }
    #rs_searchRight .rs_searchbox .rs_button_row {
        float: none;
        width: 100%;
    }
}
