@import '../base/variables';

$caption_height: 65px;

.slideshow {
	overflow: hidden;
	position: relative;
	margin: 35px 0 0 0;

	.mask {
		overflow: hidden;
	}

	.arrow-wrapper {
		width: 100%;
		height: inherit;
		position: absolute;

		.ss-arrow {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 64px;
			height: 51px;
			background: $url_ss_arrows no-repeat 0 0;
			z-index: 99;
			opacity: .7;
			transform: scale(.5);
			cursor: pointer;

			&:hover {
				opacity: 1;
				background-position-y: -51px;
			}

			&.arrow-prev {
				left: 0;
			}

			&.arrow-next {
				right: 10px;
				transform: scale(.5) rotate(180deg);
			}
		}
	}

	.slide-swipe-hint {
		background-color: $black_55;
		color: $white;
		font-size: 13px;
		opacity: .50;
		position: absolute;
		top: 36px;
		width: 100%;
		height: 20px;
		z-index: 10;
		text-align: center;
	}

	.slideset {
		width: 100%;
		margin: 0;
	}

	.slide {
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: $black;
		top: 0;
		bottom: 0;

		&.active {
			z-index: 1;
		}

		.slide-image {
			display: block;
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		.slide-image-credit {
			position: absolute;
			top: 0;
			right: 0;
			color: $color_bright_turquoise_approx;
			background-color: $black_55;
			padding: 1px 10px;
			font-weight: 300;
			font-size: 15px;
			font-style: italic;
			text-align: right;
		}

		.slide-caption-area {
			position: absolute;
			display: table;
			bottom: 0;
			width: 100%;
			height: $caption_height;
			background-color: $black_55;
			z-index: 9;
			border-top: 3px solid $color_bright_turquoise_approx_25;
			box-sizing: content-box;

			span, img {
				display: table-cell;
				vertical-align: middle;
				z-index: 10;
			}

			.slide-parachute-logo {
				position: absolute;
				bottom: 0;
				top: 0;
				margin: 0 auto;
				height: $caption_height;
				opacity: .8;
			}

			.caption-wrapper {
				position: absolute;
				display: inline-block;
				left: $caption_height;
				height: $caption_height;
				overflow-y: auto;
				z-index: 10;
				width: calc(100% - #{$caption_height});

				&::-webkit-scrollbar {
					-webkit-appearance: none;
				}

				&::-webkit-scrollbar:vertical {
					width: 11px;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 8px;
					border: 2px solid $color_bright_turquoise_approx_25; /* should match background, can't be transparent */
					background-color: $color_bright_turquoise_approx_25;
				}

				&::-webkit-scrollbar-track {
					background-color: $black_50;
				}

				.caption {
					text-align: left;
					bottom: 0;
					left: $caption_height;
					margin: 0;
					padding: 2px 6px 2px 2px;
					line-height: 18px;
					color: $white;
					font-size: 13px;
					font-weight: 300;
					height: $caption_height - 4px;
					width: 100%;
				}
			}
		}
	}

	.ss-pagination {
		padding: 11px 0 11px 0;
		margin: 0 0 0 3px;
		text-align: left;

		li {
			list-style: none;
			width: 45px;
			height: 45px;
			margin: 0 8px 3px 0;
			display: inline-block;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			&.active {
				-webkit-box-shadow: 0 0 0 3px $color_bright_turquoise_approx;
				box-shadow: 0 0 0 3px $color_bright_turquoise_approx;
			}

			img {
				opacity: .7;
				min-width: 100%;
				min-height: 100%
			}
		}
	}
}
